
.row
  .col-lg-6.col-sm-12
    .about-tt
      %h1
        Tech Takeoff
      %h3
        The power to improve processes and increase profitablity will be at your fingertips
      %p
        With customized software solutions that enable builders to better understand material estimation, track and report material shipments/usage, and continually dial in material lists, the power to improve processes and increase profitability will be at your finger tips.  Streamlined, easy to use applications, accessible from any smart device will drive your company towards growth.  We have an ever changing suite of software that can be interfaced with any backend programs currently in use and have the ability to create custom solutions on an as needed basis.  If your company has a technology need, our team will be happy to meet and discuss development of any application you feel would improve productivity and efficiency. 
  .col-lg-6.col-sm-12.screenshots
    = render 'screenshot_carousel'
    