.row
  .col-md-6.col-sm-12
    %h1
      Contact Us
    %h3
      Please contact us for more information regarding our products and services. We're excited to hear from you! 
    .contact-links
      = link_to '9815 Sam Furr Rd Ste J Huntersville, NC 28078', 'https://www.google.com/maps/place/9815+Sam+Furr+Rd+Ste+J,+Huntersville,+NC+28078/@35.44257,-80.8634474,17z/data=!3m1!4b1!4m5!3m4!1s0x8856a903eda0392f:0xf4a0eabb371b5b85!8m2!3d35.44257!4d-80.8612587', target: '_blank', class: 'tt-contact-link', id: 'map'
      = link_to '(919)-435-4221', 'tel:(919)-435-4221', class: 'tt-contact-link', id: 'phone'
      = link_to 'support@techtakeoff.com', 'mailto:support@techtakeoff.com', class: 'tt-contact-link', id: 'email'
      = link_to 'mailto:careers@techtakeoff.com', class: 'tt-contact-link', id: 'career' do
        .career-opp
          Career Opportunities
        .show-message
          Click here to send us your resume!
  .col-md-6.col-sm-12
    %fieldset
      %form{:action => 'https://formspree.io/support@techtakeoff.com', :method => 'POST'}
        .row
          %input{ :type => 'text', :placeholder => 'Name', :required => true, :name => 'Name' }
        .row
          %input{ :type => 'email', :placeholder => 'Email Address', :required => true, :name => 'Email'}
        .row
          %input{ :type => 'text', :placeholder => 'Phone Number', :required => true, :name => 'Phone'}
        .row
          %textarea{ :type => 'text', :placeholder => 'Message', :required => true, :name => 'Message'}
        .row
          .button-div
            %button{ :type => 'submit' }
              Submit

