%footer 
  .footer-section
    -# .icon-row
    -#   = link_to '', 'https://www.facebook.com', class: 'icon', id: 'fb', target: '_blank'
    -#   = link_to '', 'https://www.twitter.com', class: 'icon', id: 'twitter', target: '_blank'
    -#   = link_to '', 'https://www.instagram.com', class: 'icon', id: 'insta', target: '_blank'
    -#   = link_to '', 'https://www.youtube.com', class: 'icon', id: 'youtube', target: '_blank' 
    -#   = link_to '', 'https://www.linkedin.com', class: 'icon', id: 'linked', target: '_blank'
    %p
      2018 Tech Takeoff. All Rights Reserved.