- tt_images = ApplicationHelper::HERO_IMAGE
#carousel.carousel.slide#home
  %a.hero-cta.scroll-trigger{ :href => '#about'}
    .text
      Integrating Technology Into The Construction Industry
    .hero-arrow
  .carousel-inner{'data-ride' => 'slick'}
    - tt_images.each do |tt_image| 
      .tt-hero-slide
        = image_tag ("#{tt_image}")