%nav.navbar.navbar-expand-lg.tt-nav
  .tt-logo
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.ml-auto
      %li.nav-item.tt-nav-item
        %a.nav-link{:href => "#"} Why
      %li.nav-item.tt-nav-item
        %a.nav-link{:href => "#"} Who
      %li.nav-item.tt-nav-item
        %a.nav-link{:href => "#"} About
      %li.nav-item.tt-nav-item
        %a.nav-link{:href => "#"} Contact