.tt-application
  %h1
    Why Partner With Tech Takeoff
  %h3
    Tech Takeoff Supplies Business Solutions for a Variety of Builders
  = render 'individual_products_row'
  = render 'product_descriptions'
