.tt-team-slide.active
  = image_tag('placeholder-headshot.jpg', :alt => 'Team Member Headshot', class: 'member-image')
  .member-info
    %h3
      Greg Clark | Partner
    %p.lh
      With critical thinking, vision, process creation, and backend development of intuitive software applications that solve real world issues; Greg creates the backbone of Tech Takeoff.  His passion to enable companies to understand critical data points to achieve efficiencies within any business model is the true meaning of a valued trade partner.
.tt-team-slide
  = image_tag('blair.jpg', :alt => 'Team Member Headshot', class: 'member-image')
  .member-info
    %h3 
      Blair Horn | Sales and Estimating
    %p
      From a young age Blair was exposed to remodeling homes and architecture through hands on experience.  With that experience she decided to turn her love and passion for construction into a career by attending and graduating from Central Piedmont Community College with an Associates of Applied Science in Architectural Technology in 2010. Since graduating, Blair has increased her experience by working as a construction materials estimator.  Being proficient in Auto CAD, Planswift, other construction oriented programs, Blair adds tremendous value to the Tech Takeoff team.
