@import 'mixins';
@import 'variables';
.tt-nav {
  max-height: 88px;
  background-color: rgba(27, 47, 78, .8);
  position: fixed;
  top: 0;
  left: 0;
  transition: all .2s ease;
  right: 0;
  width: 100%;
  z-index: 99999;
  @media(max-width: 991px) {
    background-color: $medBlue;
    max-height: 80%;
    padding: 0;
  }
}
#toggle-btn {
  background-image: image-url('icons/menu.png');
  filter: invert(100%);
  height: 3rem;
  width: 3rem;
  margin-right: 1rem;
  @include background(center, cover);
}
.tt-nav-item {
  color: #fff;
  width: 14rem;
  @media (max-width: 991px) {
    width: 100%;
    border-bottom: 1px solid $darkGrey;
    &:first-child {
      border-top: 1px solid rgba(199, 199, 199, .8);
    }
  }
  a {
    @include font(inherit, #fff, 2.4rem);
    text-transform: uppercase;
    transition: all .2s ease;
    position: relative;
    width: auto;
    &:hover {
      .text:after {
        width: 100%;
      }
    }
    .text {
      width: auto;
      display: inline-block;
      position: relative;
      transition: all .2s ease;
      &:after {
        transition: all .2s ease;
        width: 0%;
        content: '';
        height: 2px;
        position: absolute;
        bottom: 0px;
        right: 0;
        left: 0;
        background-color: #fff;
      }
    }
    @media (max-width: 991px) {
      text-align: center;
      padding: 1rem 0rem;
    }
  }
}
.tt-logo {
  background-image: image-url('logo.png');
  height: 10rem;
  width: 30rem;
  @include background(center, cover);
  @media(max-width: 991px) {
    height: 8rem;
    width: 24rem;
  }
  @include lg-phone {
    width: 20rem;
    height: 7rem;
  }
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 8rem;
  background-color: $darkBlue;
  .footer-section {
    width: 40rem;
    margin: 0 auto;
    height: 100%;
    p {
      @include font($regularFont, $blue, 1rem);
    }
    text-align: center;
    .icon-row {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 60%;
      align-items: center;
      justify-content: center;
      a {
        width: 19%;
        height: 1.6rem;
        margin: .2%;
        @include background (center, contain);
        transition: all .4s ease;
        &:hover {
          transform: scale(1.3);
        }
        &#linked {
          background-image: image-url('icons/linked.svg');
        }
        &#fb {
          background-image: image-url('icons/fb.svg');
        }
        &#insta {
          background-image: image-url('icons/insta.svg');
        }
        &#twitter {
          background-image: image-url('icons/twitter.svg');
        }
        &#youtube {
          background-image: image-url('icons/youtube.svg');
        }
      }
    }
  }
}