@import 'mixins';
@import 'variables';
.tt-nav {
  background-color: transparent;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
  @include tablet {
    background-color: $medBlue;
    z-index: 99999;
    max-height: 80%;
  }
}
#toggle-btn {
  background-image: image-url('icons/menu.svg');
  height: 2rem;
  width: 2rem;
  @include background(center, cover);
}
.tt-nav-item {
  color: #fff;
  width: 14rem;
  a {
    @include font(inherit, #fff, 2.4rem);
    text-transform: uppercase;
    font-weight: normal;
  }
}
.tt-logo {
  background-image: image-url('logo.png');
  height: 10rem;
  width: 30rem;
  @include background(center, cover);
  @include lg-phone {
    width: 20rem;
  }
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 7rem;
  background-color: $darkBlue;
  .footer-section {
    width: 40rem;
    margin: 0 auto;
    @include font($regularFont, $blue, 1rem);
    text-align: center;
    .icon-row {
      display: flex;
      flex-direction: row;
      width: 100%;
      align-items: space-between;
      a {
        width: 19%;
        margin: .2%;
      }
    }
  }
}