/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
  @import 'variables';
  @import 'slick';
  @import 'slick-theme';
  @import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');
  @import 'mixins';
  @import 'navbar';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
html {
  font-size: 62.5%;
}
body {
  width: 100%;
  position: relative;
}
h1 {
  @include font($accentFont, $blue, 4rem, 700);
}
h2 {
  @include font($accentFont, #fff, 3rem, 700, 2px);
}
h3 {
  @include font($accentFont, #000, 2.4rem);
}
h1, h2, h3 {
  text-transform: uppercase;
  padding: 1rem 0rem;
}
p {
  padding-top: 1rem;
  line-height: 1.6;
  @include font($regularFont, #000, 1.8rem);
}
.carousel {
  width: auto;
  height: 100vh;
  position: relative;
  margin-top: 0rem;
  @media (max-width: 991px) {
    width: 100%;
    height: auto;
     margin-top: 7rem;
  }
}
.carousel-inner {
  width: auto;
  height: 100%;
  position: relative;
  z-index: 0;
  margin: 0rem;
}
.carousel-item {
  height: 100%;
  width: 100%;
}
.tt-hero-slide {
  @include background(center, cover);
  width: 100%;
  height: 100%;
  img {
    width: 100%;
    height: auto;
  }
}
.hero-cta {
  position: absolute;
  bottom: 0rem;
  background-color: $blue;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: normal;
  transition: all .4s cubic-bezier(.21,1,.84,1.01);
  width: 40rem;
  height: 14rem;
  padding: 2.8rem;
  z-index: 999;
  overflow: hidden;
  &:after {
    content: '';
    width: 60%;
    position: absolute;
    transition: all .4s cubic-bezier(.21,1,.84,1.01);
    bottom: -200px;
    right: 0;
    opacity: 0.1;
    z-index: -1;
    height: 100%;
    @include background(bottom right, contain);
    background-image: image-url('house_vector.png');
    filter: invert(100%);
  }
  &:hover {
    cursor: pointer;
    text-decoration: none;
   .hero-arrow {
      background-position: 50% 70%;
    }
    &:after {
      bottom: -18px;
    }
  }
  .text {
    @include font($accentFont, #fff, 2rem);
    position: relative;
    @include lg-phone {
      width: 80%;
      padding: 1rem;
      font-size: 1.4rem;
    }
  }
  @media (max-width: 991px) {
    bottom: .4rem;
  }
  @include lg-phone {
    height: 6rem;
    width: 100%;
    padding: 0rem;
  }
  .hero-arrow {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: $medBlue;
    height: 30%;
    width: 40px;
    transition: all .2s ease;
    background-image: image-url('icons/hero-arrow.svg');
    @include background(center, 30%);
    @include lg-phone {
      height: 100%;
      width: 50px;
    }
  }
}
.tt-content-wrap {
  padding: 0rem 0rem 4rem 0rem;
  margin: 0 auto;
  width: 100%;
  overflow-x: hidden;
}
.tt-section {
  padding: 4rem 8rem;
  width: 100%;
  max-width: 1440px;
  position: relative;
  margin: 0 auto;
  @include tablet {
    padding: 2rem 2rem;
  }
  &.team-section {
    background-image: image-url('campfire.jpg');
    @include background(center, cover, no-repeat);
    max-width: 100%;
    height: 48rem;
    text-align: center;
  }
  &#contact {
    background-color: $medBlue;
    padding: 6rem 8rem;
    @include tablet {
      padding: 4rem 2rem;
    }
    h1 {
      color: #fff;
    }
    h3 {
      color: #fff;
    }
  } 
}
.about-tt {
  padding-top: 4rem;
  width: 100%;
  @include tablet {
    padding-top: 0rem;
  }
}
.screenshot {
  width: 80%;
  margin: 0 auto;
  img {
    width: auto;
    height: 40rem;
  }
}
.tt-application {
  height: auto;
  min-height: 68rem;
  @include background(bottom right, 34%, no-repeat);
  background-image: image-url('blueprint-bg.png');
  position: relative;
}
.tt-products {
  padding: 0rem 0rem; 
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 15.8rem;
  border: 1px solid #ccc;
  @include tablet {
    flex-wrap: wrap;
    border: none;
  }
  .tt-product {
    align-self: center;
    cursor: pointer;
    width: 25%;
    height: 100%;
    position: relative;
    background-position: 50% 34%;
    background-size: 20%;
    text-align: center;
    background-repeat: no-repeat;
    transition: all .3s ease;
    @include tablet {
      width: 50%;
      border: 1px solid #ccc;
    }
    &:hover, &:active {
      background-color: $blue;
      color: #fff;
    }
    .label {
      position: absolute;
      width: 100%;
      text-align: center;
      bottom: 1.4rem;
      font-size: 1.4rem;
      font-weight: 500;
      left: 0;
      right: 0;
    }
    &.active {
      background-color: $blue;
      color: #fff;
      transition: all .3s ease;
      &#production {
        background-image: image-url('icons/production-w.svg');
      }
      &#material {
        background-image: image-url('icons/material-w.svg');
      }
      &#commercial {
        background-image: image-url('icons/commercial-w.svg');
      }
      &#custom {
        background-image: image-url('icons/custom-w.svg');
      }
    }
    &#production {
      background-image: image-url('icons/production.svg');
      &:hover {
        background-image: image-url('icons/production-w.svg');
      }
    }
    &#material {
      background-image: image-url('icons/material.svg');
      &:hover {
        background-image: image-url('icons/material-w.svg');
      }
    }
    &#commercial {
      background-image: image-url('icons/commercial.svg');
      &:hover {
        background-image: image-url('icons/commercial-w.svg');
      }
    }
    &#custom {
      background-image: image-url('icons/custom.svg');
      &:hover {
        background-image: image-url('icons/custom-w.svg');
      }
    }
  }
}
.tt-product:nth-child(-n+3) {
  border-right: 1px solid #ccc;
}
.desc-container {
  height: 400px;
  width: 100%;
  overflow: hidden;
  display: none;
  &.active {
    display: block;
  }
  @include tablet {
    margin-top: 160px;
  }
  @include lg-phone {
    height: 600px;
  }
}
.product-desc-production,
.product-desc-material,
.product-desc-commercial,
.product-desc-custom {
  margin-top: 2rem;
  padding: 2rem 0rem;
  width: 68%;
  height: 0%;
  margin-top: -50%;
  @include tablet {
    width: 100%;
    margin-top: 18rem;
  }
  &.active {
    display: block;
  }
  &.inactive {
    display: none;
  }
}
.tt-team-slide {
  flex-direction: row;
  align-content: flex-start;
  flex-wrap: nowrap;
  display: none;
  position: relative;
  opacity: 0;
  transition: all .3s ease;
  @include tablet {
    flex-wrap: wrap;
  }
  p.lh {
    line-height: 2;
  }
  &.active {
    display: flex;
    opacity: 1;
    transition: all .3s ease;
  }
  .member-image {
    width: 30%;
    align-self: center;
    height: auto;
    max-width: 24rem;
    max-height: 32rem;
    @include tablet {
      width: 100%;
      margin: 0 auto;
      padding: 1rem 0rem;
    }
    @include lg-phone {
      margin-left: 0rem;
    }
  }
  .member-info {
    width: 70%;
    margin-left: 2%;
    display: flex;
    align-self: center;
    flex-direction: column;
    align-content: center;
    @include tablet {
      width: 100%;
    }
  }
}
.section-dots {
  width: 48px;
  margin: 0 auto;
  display: block;
}
.dot {
  width: 14px;
  height: 14px;
  display: inline-block;
  border: 1px solid $darkGrey;
  border-radius: 100px;
  margin: 2px;
  &:hover {
    cursor: pointer;
    border: 1px solid #000;
  }
  &.active {
    border: 1px solid #000;
  }
}
.arrow-right {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  right: 50px;
  height: 60px;
  width: 60px;
  transition: all .3s ease;
  @include tablet {
    top: 43%;
    right: 10px;
  }
  @include lg-phone {
    top: 15%;
    right: 10px;
  }
  &:hover {
    cursor: pointer;
    right: 40px;
    @include tablet {
      right: 0px;
    }
  }
  img {
    height: 100%;
    width: 30px;
    float: right;
  }
}
.contact-links {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  flex-wrap: no-wrap;
  .tt-contact-link {
    width: 100%;
    height: 4rem;
    padding-bottom: 1rem;
    @include font($regularFont, #fff, 1.2rem);
    &:before {
      content: '';
      display: inline-block;
      width: 2rem;
      height: 1.8rem;
      margin-right: .8rem;
      margin-top: .2rem;
      @include background(center, contain, no-repeat);
    }
    &#map {
      &:before {
        background-image: image-url('icons/map.svg');
      }
    }
    &#email {
      &:before {
        background-image: image-url('icons/mail.svg');
      }
    }
    &#phone {
      &:before {
        background-image: image-url('icons/call.svg');
      }
    }
    &#career {
      overflow: hidden;
      position: relative;
      &:before {
        background-image: image-url('icons/career.svg');
      }
    }
    .career-opp, .show-message {
      position: absolute;
      left: 26px;
    }
    .career-opp {
      height: 100%;
      transition: all .3s ease;
      bottom: -1px;
    }
    .show-message {
      height: 100%;
      bottom: -40px;
      transition: all .3s ease;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
fieldset {
  width: 100%;
  height: 100%;
  @include tablet {
    padding: 4rem 0rem;
  }
  input {
    width: 80%;
    height: 5rem;
    @include font($regularFont, #2d2d2d, 1.2rem);
    margin: .6rem auto;
    padding: 2rem 2rem;
    border-radius: .8rem;
    border: 1px solid #fff;
    &:focus {
      border-radius: 1rem;
    }
  }
  textarea {
    @include font($regularFont, #2d2d2d, 1.2rem);
    height: 15rem;
    margin: .6rem auto;
    padding: 2rem 2rem;
    border-radius: .8rem;
    width: 80%;
    border: 1px solid #fff;
  }
  .button-div {
    width: 80%;
    margin: .6rem auto;
    cursor: pointer;
    button {
      width: 20rem;
      float: right;
      background-color: $blue;
      @include font($accentFont, #fff, 1.8rem, 700);
      text-transform: uppercase;
      height: 5rem;
      border-radius: .8rem;
      border: 1px solid $blue;
      padding: .2rem;
      position: relative;
      transition: all .3s ease;
      &:hover {
       background-color: $darkBlue;
        cursor: pointer;
      }
    }
  }
}
.slick-dots li button:before {
  content: '';
  margin-right: 4px;
  border: 1px solid #000;
  border-radius: 100px;
  font-family: inherit;
  font-size: 2px;
  height: 14px;
  width: 14px;
  line-height: 10px;
}
img.tt-screenshot {
  max-height: 500px;
  width: 100%;
  object-fit: contain;
}
.slick-slide {
  width: 400px;
}
.type {
  display: none;
}
h2.typewriter {
  display: inline-block;
  overflow: hidden; 
  width: auto;
  max-width: auto;
  margin: 0 auto;
  border-right: 2px solid transparent; 
  white-space: nowrap; 
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end 4;
}

@keyframes typing {
  from { width: 0; }
  to { width: 70%; }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: $darkGrey; }
}





