@import 'variables';
@mixin background($position: center, $size: contain, $repeat: no-repeat) {
  background-position: $position;
  background-size: $size;
  background-repeat: $repeat;
}
@mixin font($fontFamily: inherit, $color: inherit, $size: inherit, $weight: normal, $letter-spacing: normal) {
  font-family: $fontFamily;
  color: $color;
  font-size: $size;
  font-weight: $weight;
  letter-spacing: $letter-spacing;
}
@mixin sm-phone {
  @media(max-width: #{$sm-phone}) {
    @content;
  }
}
@mixin lg-phone {
  @media(max-width: #{$lg-phone}) {
    @content;
  }
}
@mixin tablet {
  @media(max-width: #{$tablet}) {
    @content;
  }
}
@mixin laptop {
  @media(max-width: #{$laptop}) {
    @content;
  }
}
@mixin desktop {
  @media(max-width: #{$desktop}) {
    @content;
  }
}
