$blue: #2064B6;
$medBlue: #1b2f4e;
$darkBlue: #0F1926;
$darkGrey: #b3b3b3;

$accentFont: 'Montserrat', sans-serif;
$regularFont: 'Open Sans', sans-serif;

$desktop: 1440px;
$laptop: 1024px;
$tablet: 768px;
$lg-phone: 600px;
$sm-phone: 425px;